ion-content {
    position: relative;

    &:before {
        width: calc(100% / 3 * 2);
    }

    ion-grid {
        margin: 0;
        padding: {
            left: 40px;
            right: 30px;
            bottom: 15px;
        }

        ion-row {
            background: white;
            padding: 10px;
            margin-top: 15px;
            border-radius: 4px;
            box-shadow: var(--trayit-box-shadow);

            ion-col {
                display: flex;
                flex-direction: column;
                padding-left: 40px;

                &:before {
                    content: url("../../../../assets/images/plate.png");
                    position: absolute;
                    left: -50px;
                }

                img {
                    position: absolute;
                    left: -30px;
                    top: 20px;
                }
            }

            ion-label {
                font-size: 16px;
                font-weight: 600;
                line-height: 24px;

                &:first-letter {
                    text-transform: uppercase;
                }
            }

            ion-text {
                height: auto;
                margin: 10px 0;
                padding-right: 25px;
                color: var(--trayit-color-tertiary);
                font-size: 14px;
                line-height: 24px;
                text-align: justify;
            }

            small {
                margin-top: 2px;
                color: var(--trayit-color-tertiary);
                font-size: 14px;
                font-weight: 600;

                &:after {
                    content: " €";
                    font-size: 10px;
                    vertical-align: super;
                }
            }

            @keyframes zoom-in-out {
                0% {
                    transform: scale(1);
                }
                50% {
                    transform: scale(1.2);
                }
                100% {
                    transform: scale(1);
                }
            }

            ion-icon.add {
                position: absolute;
                bottom: 21px;
                right: -30px;
                box-sizing: border-box;
                padding: 10px;
                background: var(--trayit-color-primary);
                box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.1);
                border-radius: 50%;
                color: white;
                font-size: 22px;
                cursor: pointer;

                &:hover {
                    animation: zoom-in-out 0.25s ease-in-out;
                }
            }
        }
    }
}