<ion-content>
    <app-header [title]="titles[activeIndex]"></app-header>
    <ion-slides
        pager="true"
        [options]="slideOptions"
        (ionSlideWillChange)="onSlideWillChange()"
    >
        <ion-slide *ngFor="let course of menu.items | keyvalue: noSort; index as i">
            <ion-grid>
                <ion-row
                    #row
                    aria-expanded="false"
                    *ngFor="let item of course.value"
                >
                    <ion-col class="align-left">
                        <img src="../../../../assets/images/rigatoni_siciliana.png">
                        <ion-label>{{item.name}}</ion-label>
                        <rating
                            [max]="5"
                            [value]="item.rating"
                        ></rating>
                        <small>{{item.price}}</small>
                        <ion-icon
                            class="add"
                            name="add"
                            (click)="presentAlert(item)"
                        ></ion-icon>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-slide>
    </ion-slides>
</ion-content>
