<ion-content>
    <app-header
        [title]="titles[activeIndex] + (launch ? ' (Pranzo)': ' (Cena)')"
        filterButton="true"
    ></app-header>
    <ion-button (click)="clearStorage()">Svuota</ion-button>
    <ion-slides
        *ngIf="render"
        pager="true"
        [options]="slideOptions"
        (ionSlideWillChange)="onSlideWillChange()"
        (ionSlideDidChange)="onSlideDidChange()"
    >
        <ion-slide *ngFor="let course of menu.items | keyvalue: noSort; index as i">
            <ion-list
                class="items-list"
                lines="none"
            >
                <ion-item
                    *ngFor="let item of course.value"
                    class="item"
                >
                    <ion-thumbnail
                        class="dish"
                        slot="start"
                    >
                        <img src="http://localhost:8080/canteen/items/{{item.id}}/image">
                    </ion-thumbnail>
                    <ion-label>
                        <h2 class="name">{{item.name}}</h2>
                        <p class="ingredients">
                            <span *ngFor="let ingredient of item.ingredients">{{ingredient.name}}</span>
                        </p>
                        <rating
                            [max]="5"
                            [value]="item.rating"
                        ></rating>
                        <small class="price">{{item.price}}</small>
                    </ion-label>
                    <ion-icon
                        class="action add"
                        name="add"
                        (click)="presentAlert(course.key, item)"
                    ></ion-icon>
                </ion-item>
            </ion-list>
        </ion-slide>
    </ion-slides>
</ion-content>
<app-footer></app-footer>
