ion-content {
    position: relative;

    &:before {
        width: calc(100% / 3 * 2);
    }

    ion-list {
        width: 100%;
        padding: {
            left: 40px;
            right: 30px;
            bottom: 15px;
        }

        background: none;

        ion-item {
            --padding-start: 50px;
            --border-radius: 4px;
            --box-shadow: var(--trayit-box-shadow);
            
            margin-top: 15px;

            overflow: visible;

            .dish {
                display: flex;
                align-items: center;
                justify-content: center;

                position: absolute;
                left: -42px;
                top: 50%;
                transform: translateY(-50%);

                height: 84px;
                width: 84px;
                margin-top: 4px;
                margin-bottom: 0;

                background: url("../../../../assets/images/plate.png") no-repeat;

                img {
                    margin-bottom: 10px;
                }
            }

            .name {
                font-size: 16px;
                font-weight: 600;
                line-height: 24px;
                word-break: break-all;
                white-space: normal;

                &:first-letter {
                    text-transform: uppercase;
                }
            }

            .ingredients {
                color: var(--trayit-color-tertiary);
                font-size: 14px;

                span {
                    margin: 5px 0;

                    font-style: italic;
                    text-transform: capitalize;

                    &:not(:last-child):after {
                        content: ", ";
                    }
                }
            }

            .price {
                margin-top: 2px;
                color: var(--trayit-color-tertiary);
                font-size: 14px;
                font-weight: 600;

                &:after {
                    content: " €";
                    font-size: 10px;
                    vertical-align: super;
                }
            }

            @keyframes zoom-in-out {
                0% {
                    transform: translateY(-50%) scale(1);
                }
                50% {
                    transform: translateY(-50%) scale(1.2);
                }
                100% {
                    transform: translateY(-50%) scale(1);
                }
            }

            ion-icon.add {
                position: absolute;
                top: 50%;
                right: -21px;
                transform: translateY(-50%);

                box-sizing: border-box;
                padding: 10px;

                background: var(--trayit-color-primary);
                box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.1);
                border-radius: 50%;

                color: white;
                font-size: 22px;
                cursor: pointer;

                &:hover {
                    animation: zoom-in-out 0.25s ease-in-out;
                }
            }
        }
    }
}
