<div class="more-popover-wrapper">
    <ion-list lines="none">
        <ion-item
            routerLink="/me"
            (click)="dismissPopover()"
        >
            Accedi al profilo
        </ion-item>
        <ion-item
            routerLink="/faqs"
            (click)="dismissPopover()"
        >
            Consulta le FaQs
        </ion-item>
        <ion-item
            routerLink="/feedbacks"
            (click)="dismissPopover()"
        >
            Dai un feedback
        </ion-item>
        <ion-item
            routerLink="/about"
            (click)="dismissPopover()"
        >
            About Us
        </ion-item>
        <ion-item
            (click)="logout()"
            (click)="dismissPopover()"
        >
            Esci
        </ion-item>
    </ion-list>
</div>
