ion-header {
    &:after {
        display: none;
    }

    ion-toolbar {
        --background: none;
        padding: 10px 0;

        ion-back-button {
            --background-hover: none;
        }

        ion-title {
            color: var(--trayit-color-secondary);
            font-size: 16px;
            font-weight: 700;
            text-align: center;
            text-transform: uppercase;
        }

        ion-icon.filter {
            margin-right: 15px;
            font-size: 24px;
            cursor: pointer;
        }

        ion-item.price {
            ion-icon {
                margin-right: 5px;
                
                font-size: 18px;
                vertical-align: middle;
            }
        }
    }
}
