ion-header {
  &:after {
    display: none;
  }

  ion-toolbar {
    --background: var(--trayit-color-primary);
    
    ion-title {
        color: var(--trayit-color-secondary);
        font-size: 16px;
        font-weight: 700;
        text-align: center;
        text-transform: uppercase;
    }
  }
}
