ion-content {
    position: relative;

    @keyframes background-moving {
        from {
            transform: translateX(-50%);
        }
        to {
            transform: translateX(0);
        }
    }

    &:before {
        content: "";

        height: 100%;
        width: 100%;

        position: absolute;
        top: 0;
        left: 0;

        background: url('../../../assets/images/food_pattern.png'), var(--trayit-color-primary);

        animation: background-moving 0.25s;
        z-index: 1;
    }

    ion-slides {
        --bullet-background: rgba(0, 0, 0, 0.5);
        --bullet-background-active: var(--trayit-color-secondary);
        padding-bottom: 30px !important;
    }
}
