<ion-content>
    <h1 class="trayit"></h1>
    <h2>Sign Up</h2>
    <ion-card class="card container">
        <form
            [formGroup]="signupForm"
            (submit)="onSignup()"
        >
            <ion-item lines="none">
                <ion-label position="stacked">Nome</ion-label>
                <ion-input
                    formControlName="firstname"
                    type="text"
                    required="true"
                >
                    <ion-icon
                        class="ion-input-status"
                        [class.hide]="signupForm.get('firstname').pristine"
                        [class.valid]="signupForm.get('firstname').valid"
                        [name]="signupForm.get('firstname').valid ? 'checkmark-circle' : 'alert'"
                    ></ion-icon>
                </ion-input>
            </ion-item>
            <ion-item lines="none">
                <ion-label position="stacked">Cognome</ion-label>
                <ion-input
                    formControlName="lastname"
                    type="text"
                    required="true"
                >
                    <ion-icon
                        class="ion-input-status"
                        [class.hide]="signupForm.get('lastname').pristine"
                        [class.valid]="signupForm.get('lastname').valid"
                        [name]="signupForm.get('lastname').valid ? 'checkmark-circle' : 'alert'"
                    ></ion-icon>
                </ion-input>
            </ion-item>
            <ion-item lines="none">
                <ion-label position="stacked">Email</ion-label>
                <ion-input
                    formControlName="email"
                    type="email"
                    required="true"
                >
                    <ion-icon
                        class="ion-input-status"
                        [class.hide]="signupForm.get('email').pristine"
                        [class.valid]="signupForm.get('email').valid"
                        [name]="signupForm.get('email').valid ? 'checkmark-circle' : 'alert'"
                    ></ion-icon>
                </ion-input>
            </ion-item>
            <ion-item lines="none">
                <ion-label position="stacked">Password</ion-label>
                <ion-checkbox #showPassword></ion-checkbox>
                <ion-input
                    formControlName="password"
                    [type]="showPassword.checked ? 'text' : 'password'"
                    required="true"
                >
                    <ion-icon
                        class="ion-input-status"
                        [class.hide]="signupForm.get('password').pristine"
                        [class.valid]="signupForm.get('password').valid"
                        [name]="signupForm.get('password').valid ? 'checkmark-circle' : 'alert'"
                    ></ion-icon>
                </ion-input>
            </ion-item>
            <ion-item lines="none">
                <ion-label position="stacked">Regime Alimentare</ion-label>
                <ion-select
                    formControlName="diet"
                >
                    <ion-select-option value="standard">Standard</ion-select-option>
                    <ion-select-option value="celiac">Celiaco</ion-select-option>
                    <ion-select-option value="vegetarian">Vegetariano</ion-select-option>
                    <ion-select-option value="vegan">Vegano</ion-select-option>
                </ion-select>
            </ion-item>
            <ion-button
                class="primary"
                expand="block"
                type="submit"
            >
                Registrati
            </ion-button>
        </form>
    </ion-card>
    <small>
        Hai già un account?
        <a routerLink="/login">Accedi!</a>
    </small>
</ion-content>
