<ion-content>
    <ion-slides
        pager="true"
        [options]="slideOptions"
    >
        <ion-slide>
            <ion-card class="card container">
                <ion-card-header>
                    <ion-card-subtitle>Menu</ion-card-subtitle>
                    <ion-card-title>Tradizionale</ion-card-title>
                </ion-card-header>
                <ion-card-content>
                    <div>
                        Il pasto tradizionale è composto da:
                        <ul>
                            <li>
                                <strong>1</strong>
                                primo piatto
                            </li>
                            <li>
                                <strong>1</strong>
                                secondo
                            </li>
                            <li>
                                <strong>1</strong>
                                contorno
                            </li>
                            <li>
                                <strong>2</strong>
                                confezioni di pane
                            </li>
                            <li>
                                <strong>2</strong>
                                extra*
                            </li>
                            <li>
                                * <i>Gli extra aggiuntivi sono opzionali e vengono sommati al prezzo del menu.</i>
                            </li>
                        </ul>
                    </div>
                    <ion-button
                        class="primary"
                        expand="block"
                        routerLink="/menu/composition"
                    >
                        Seleziona
                    </ion-button>
                </ion-card-content>
            </ion-card>
        </ion-slide>
        <ion-slide>
            <ion-card class="card container">
                <ion-card-header>
                    <ion-card-subtitle>Menu</ion-card-subtitle>
                    <ion-card-title>Alternativo</ion-card-title>
                </ion-card-header>
                <ion-card-content>
                    <div>
                        Il pasto alternativo è a scelta tra:
                        <ul>
                            <li class="list-group">
                                <strong>Cestino</strong>
                                <ul>
                                    <li>
                                        Componi il tuo cestino consultando la nostra selezione (max. 4 pezzi).
                                    </li>
                                </ul>
                            </li>
                            <li class="list-group">
                                <strong>Pizza</strong>
                                <ul>
                                    <li>
                                        Scegli una tra le pizze disponibili nel nostro catalogo.
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <ion-button
                        class="primary"
                        expand="block"
                        routerLink="/menu/composition"
                        [queryParams]="{ alternative: true }"
                    >
                        Seleziona
                    </ion-button>
                </ion-card-content>
            </ion-card>
        </ion-slide>
    </ion-slides>
</ion-content>
<app-footer></app-footer>
