ion-content {
    &:before {
        width: 100%;
    }

    ion-list {
        padding-top: 0;
        padding-bottom: 0;
    }

    .error {
        transform: scale(0.5);
        opacity: 0.2;
    }
}