// App Styles
// ----------------------------------------------------------------------------
// Put style rules here that you want to apply to the entire application. These
// styles are for the entire app and not just one component. Additionally, this
// file can hold Sass mixins, functions, and placeholder classes to be imported
// and used throughout the application.

:root {
    --trayit-font-primary: "Open Sans", sans-serif;

    --trayit-color-primary: #ffd80c;
    --trayit-color-primary-dark: #ffd20c;
    --trayit-color-secondary: black;
    --trayit-color-tertiary: #808080;
    --trayit-color-light: #f6f7f8;
    --trayit-color-medium: #e6e7e8;

    --trayit-box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.1);
    --trayit-box-shadow-secondary: 0px 5px 15px 0px rgba(0, 0, 0, 0.05);
    --trayit-transition-ease-out: 0.25s ease-out;

    --ion-font-family: var(--trayit-font-primary);
}

/** General **/
a {
    color: var(--trayit-color-primary);
    text-decoration: none;
    transition: color var(--trayit-transition-ease-out);

    &:hover {
        color: var(--trayit-color-primary-dark);
    }
}

/** Utils **/
.hide {
    display: none;
}

.align-left {
    text-align: left;
}

.align-center {
    text-align: center;
}

.align-right {
    text-align: right;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 400px;
    width: 100%;
    margin: 0 auto;
}

ul,
ol {
    list-style: none;
    padding: 0;
}

/** Contents **/
ion-content {
    --padding-top: 15px;
    --padding-bottom: 15px;
    --padding-start: 15px;
    --padding-end: 15px;
}

/** Cards **/
ion-card {
    &.card {
        --background: white;
        padding: 20px 25px;
        box-shadow: var(--trayit-box-shadow);
    }
}

/** Buttons **/
ion-button {
    &.primary {
        --background: var(--trayit-color-primary);
        --background-hover: var(--trayit-color-primary-dark);
        --background-focused: var(--trayit-color-primary-dark);
        --box-shadow: none;
        --color-focused: var(--trayit-color-secondary);
        height: 50px;
        margin-top: 20px;
        color: var(--trayit-color-secondary);
        font-weight: 700;
    }
}

/** Alerts **/
ion-alert {
    .alert-radio-icon {
        border-color: var(--trayit-color-tertiary) !important;
    }

    [aria-checked="true"] .alert-radio-icon {
        border-color: var(--trayit-color-primary) !important;
    }

    .alert-radio-inner {
        background: var(--trayit-color-primary) !important;
    }

    .alert-button {
        color: var(--trayit-color-secondary) !important;
    }
}