<div class="popover">
    <div class="popover-header">
        <h2 class="popover-title">{{item.name}}</h2>
    </div>
    <div class="popover-message">{{item.description}}</div>
    <div class="popover-inputs">
        <ion-icon
            name="remove"
            (click)="counter.stepDown()"
        ></ion-icon>
        <input
            #counter
            type="number"
            min="0"
            [max]="course === 'extra'? 2 : 1"
            value="0"
            disabled
        >
        <ion-icon
            name="add"
            (click)="counter.stepUp()"
        ></ion-icon>
    </div>
    <div class="popover-buttons">
        <ion-button
            class="primary"
            expand="block"
            (click)="addToTray(counter.value)"
        >
            Aggiungi al vassoio
        </ion-button>
    </div>
</div>
