ion-content {
    --background: linear-gradient(to bottom, var(--trayit-color-primary) 300px, transparent 300px);

    ion-card {
        max-width: 1000px;
        
        ion-item {
            --padding-start: 0;
            --inner-padding-end: 0;
            --background-focused: none;
            --background-hover: none;
        }
    }
}
