div.rating-wrapper {
    display: flex;
    align-items: center;

    ion-label.avg {
        margin-right: 8px;
        color: var(--trayit-color-tertiary);
        font-size: 14px;
    }

    ion-buttons.rating {
        margin: 5px 0;

        ion-button {
            margin: 0;
            color: var(--trayit-color-medium);

            &.button-has-icon-only.rating-button {
                --padding-bottom: 0;
                --padding-top: 0;
                --padding-start: 0;
                --padding-end: 0;
                --background-hover: none;
                height: auto;
                width: auto;
            }

            &.selected {
                color: gold;
            }

            ion-icon {
                font-size: 18px;
            }
        }
    }
}
